<div class="row page-box">
    <div class="col-sm-12">
        <h2>Job Offer list</h2>

        <div class="input-group col-md-12" style="margin-bottom: 14px">
            <input type="text" class="form-control" placeholder="Search by offer title.."
                   name="search" id="mysearch" oninput="fetchData(1)" />
            <span class="input-group-btn">
                <button class="btn btn-info" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
        <div id="updatePanel">
        </div>
        <div style="display:inline-block">
            Page size: <input type="number" name="paginator" id="pag" value="4" oninput="fetchData(1)" />
        </div>
        <div style="display:inline-block">
            Sort by:
            <select onchange="fetchData(1)" id="sel">
                <option value="JobTitle">Job Title</option>
                <option value="Company">Company</option>
                <option value="Location">Location</option>
                <option value="Created">Created</option>
            </select>
        </div>
        @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
        {
            <div style="display:inline-block">
                Show offers:
                <select onchange="fetchData(1)" id="sel2">
                    <option value="All">All</option>
                    <option value="Applied">Applied</option>
                    <option value="NotApplied">Not Applied</option>
                </select>
            </div>
        }
        <br /><br/>
        @Html.ActionLink("Create job offer", "Create", "JobOffer", null, new { @class = "btn btn-primary" })
    </div>
</div>


@section Scripts{
    <script>
        var currentPage = 1;
        $(document).ready(function () {
            fetchData(1);
        });

        function parseDate(date) {
            return date.toString().substr(0, 10) + " " + date.toString().substr(11, 8);
        }

        function getCompany(id) {
            var comp;
            $.ajax({
                async: false,
                url: '/JobOffer/GetCompany',
                type: 'GET',
                data: { id: id },
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    comp = data;
                },
                error: function () {
                    alert('sth wrg.');
                }
            });
            return comp;
        }

        function fetchData(pageNo) {
            var $loading = "<div class='loading'>Please wait...</div>";
            $('#updatePanel').prepend($loading);
            $.ajax({
                url: '/JobOffer/GetData',
                type: 'GET',
                data: { pageNo: pageNo, search: $("#mysearch").val(), pageSize: $("#pag").val(), option: $("#sel").val(), offers: $("#sel2").val() },
                dataType: 'json',
                success: function (data) {
                    var $table = $('<table/>').addClass('table table-striped table-hover');
                    var $header = $('<thead/>').addClass('thead-dark')
                    $header.html('<tr><th style="background-color: Gray;color: #33b5e5">Job Title </th >' +
                        '<th style="background-color: Gray;color: #33b5e5">Company Name</th>' +
                        '<th style="background-color: Gray;color: #33b5e5">Location</th>' +
                        '<th style="background-color: Gray;color: #33b5e5">Created</th></tr > ');
                    $table.append($header);
                    $.each(data.jobOffers, function (i, emp) {
                        var $row = $('<tr/>');
                        $row.append($('<td/>').html('<a href="/JobOffer/Details/?id=' + emp.id + '">' + emp.jobTitle + '</a>'));
                        $row.append($('<td/>').html(getCompany(emp.companyId)));
                        $row.append($('<td/>').html(emp.location));
                        $row.append($('<td/>').html(parseDate(emp.created)));
                        $table.append($row);
                    });

                    var totalPage = parseInt(data.totalPage);
                    var $footer = $('<tr/>');
                    var $footerTD = $('<td/>').attr('colspan', 4).addClass('footerContent');

                    if (totalPage > 0) {
                        for (var i = 1; i <= totalPage; i++) {
                            var $page = $('<span/>').addClass(i == pageNo ? "current" : "");
                            $page.html("<button onclick='fetchData(" + i + ");'>" + i + "</button>");
                            $footerTD.append($page);
                        }
                        $footer.append($footerTD);
                    }
                    $table.append($footer);

                    $('#updatePanel').html($table);
                },
                error: function () {
                    alert('Error! Please try again.');
                }
            }).done(function () {

                $loading.remove();
            });
        }

    </script>
}

<style>

    #updatePanel {
        width: 95%;
        margin: 0 auto;
        position: relative;
    }

    .loading {
        float: left;
        position: absolute;
        margin-left: 40%;
        width: 200px;
        top: 100px;
        padding: 3px;
        border: 1px solid rgb(253, 0, 0);
        background-color: rgb(245, 245, 78);
        text-align: center;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    span.current {
        cursor: auto !important;
        font-weight: bold;
    }

    td.footerContent span a {
        display: inline-block;
        padding: 3px 10px;
        background-color: chartreuse;
        margin-right: 4px;
        border: 1px solid #998787;
        cursor: pointer;
    }

    td.footerContent span a {
        text-decoration: none;
    }

    td.footerContent {
        text-align: right;
    }
</style> 